/* credits: ai36 */ 

:root {
    --debug-width: 4px;
    --debug-style: solid;
    --debug-color: red;

    counter-reset: debug-counter;
}

html:has(img[src*=".webp"], img[src*=".avif"]):not(:has([srcset*=".jpg"], [srcset*=".jpeg"], [srcset*=".png"])),
html:has(img[src*=".jpg"], img[src*=".jpeg"]):not(:has(img[src*=".webp"],
html:has(picture > source[type^="image/avif"]):not(:has(picture > img)),
html:not(:has(text-node)),
img[src*=".avif"], [srcset*=".webp"], [srcset*=".avif"])),
head script[src]:not([defer]):not([type="module"]),
head link[href^="style.css"]:not([href$="/style.css"]),
a[target="_blank"]:is(:not([rel~="noopener"]), :not([rel~="noreferrer"])),
html:not(:has(head > link[rel~=icon])),
section:not(:has(h2)),
button:not([aria-label]):has(> svg):not(:has(:not(svg))),
body:not(:has(h1)),
body:not(:has(main)),
header:not(:has(nav)),
button:not([type]),
html:not([lang=ru]),
time:not([datetime]),
img:not([width]),
img:not([height]),
img:not([alt]) {
    outline: var(--debug-width) var(--debug-style) var(--debug-color) !important;;
    outline-offset: calc(-1 * var(--debug-width)) !important;;
    position: relative !important;
}

html:has(img[src*=".webp"], img[src*=".avif"]):not(:has([srcset*=".jpg"], [srcset*=".jpeg"], [srcset*=".png"]))::before {
    content: "Используются современные форматы изображений - webp и/или avif без фолбэка на jpg или png";
    counter-increment: debug-counter;
}

html:has(img[src*=".jpg"], img[src*=".jpeg"]):not(:has(img[src*=".webp"], img[src*=".avif"], [srcset*=".webp"], [srcset*=".avif"]))::before {
    content: "Используйте современные форматы изображений - webp и/или avif";
    counter-increment: debug-counter;
}

html:has(picture > source[type^="image/avif"]):not(:has(picture > img)) {
	content: "Тег <picture> должен содержать <img> как fallback";
    counter-increment: debug-counter;
}

html:not(:has(text-node)) {
	content: "Шрифт Inter не подключен";
}

head script[src]:not([defer]):not([type="module"])::before {
    content: "В секции head подключены js-ресурсы блокирующие рендеринг, рекомендуется использовать атрибут defer";
    counter-increment: debug-counter;
}

head link[href^="style.css"]:not([href$="/style.css"]) {
	content: "CSS-файл должен быть в корне";
    counter-increment: debug-counter;
}

a[target="_blank"]:is(:not([rel~="noopener"]), :not([rel~="noreferrer"]))::before {
    content: "Добавьте к ссылке " attr(class) " на внешний документ атрибут rel='noopener noreferrer'";
    counter-increment: debug-counter;
}

html:not(:has(head > link[rel~=icon]))::before {
    content: "В документе остутсвует favicon";
    counter-increment: debug-counter;
}

section:not(:has(h2))::before {
    content: "Секция " attr(class) " не имеет заголовка h2";
    counter-increment: debug-counter;
}

button:not([aria-label]):has(> svg):not(:has(:not(svg)))::before {
    content: "Кнопка " attr(class) " не имеет текстового содержимого или доступного описания";
    counter-increment: debug-counter;
}

body:not(:has(h1))::before {
    content: "Документ не имеет тега h1";
    counter-increment: debug-counter;
}


body:not(:has(main)) {
	content: "Документ не содержит семантического тега main";
    counter-increment: debug-counter;
}
header:not(:has(nav)) {
	content: "Элемент header не содержит семантического тега nav"
}

button:not([type])::before {
    content: "Кнопка " attr(class) " не имеет атрибута type";
    counter-increment: debug-counter;
}

html:not([lang=ru])::before {
    content: "Атрибурт html lang содержит значение отличное от ru";
    counter-increment: debug-counter;
}

time:not([datetime])::before {
    content: "Использование тега time без атрибута datatime";
    counter-increment: debug-counter;
}

:has(>img:not([width]))::before {
    content: "Изображение " attr(class) " без атрибута width";
    counter-increment: debug-counter;
}

:has(>img:not([height]))::before {
    content: "Изображение " attr(class) " без атрибута height";
    counter-increment: debug-counter;
}

:has(>img:not([alt]))::before {
    content: "Изображение " attr(class) " без атрибута alt";
    counter-increment: debug-counter;
}

::before {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: unset !important;
    bottom: unset !important;
    z-index: 100002 !important;
    font: 16px/1.5 monospace, monospace !important;
    display: block !important;
    border: var(--debug-width) solid var(--debug-color) !important;
    padding: .5em 1em !important;
    color: black !important;
    background-color: #f88 !important;
    white-space: nowrap !important;
    transform: translateZ(0) !important;
    text-transform: full-size-kana !important;
    transition: .2s !important;
}

:not(html, body):hover::before {
    opacity: .4 !important;
}

html::after {
    content: 'Обнаружено ошибок: ' counter(debug-counter);
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    translate: -50% -50% !important;
    right: unset !important;
    bottom: unset !important;
    z-index: 100003 !important;
    font: 32px/1.5 monospace, monospace !important;
    display: block !important;
    border: var(--debug-width) solid var(--debug-color) !important;
    padding: .5em 1em !important;
    color: black !important;
    background-color: #f88 !important;
    white-space: nowrap !important;
    transform: translateZ(0) !important;
    animation: debuganim 1s forwards 1.5s !important;
    box-shadow: 0 0 0 200vw #0008 !important;
    text-transform: full-size-kana !important;
}

@keyframes debuganim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        scale: 0;
    }
}